*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box8;
}

#wrapper {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: gray;
    color: maroon;
    width: 100vw;
    height: 100vh;
    font-size: 50px;
}

label {
    font-size: 50px;
}

button {
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
